{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
    <div class="nav-bar">
        <nav>
            <ul>
                <li style="float: left">
                    <a href='{{ url_for("home_pages.Home") }}'><img src="{{ url_for('static', filename='assets/icons/home.svg') }}">Portfolio Page</a>
                </li>
                <li><a href='{{ url_for("home_pages.Projects") }}'><img src="{{ url_for('static', filename='assets/icons/home.svg') }}">Home</a></li>
                <li><a href='{{ url_for("home_pages.Projects") }}'><img src="{{ url_for('static', filename='assets/icons/home.svg') }}">Projects</a></li>
                <li><a href='{{ url_for("home_pages.Projects") }}'><img src="{{ url_for('static', filename='assets/icons/home.svg') }}">Search</a></li>
                <li><a href='{{ url_for("home_pages.Projects") }}'><img src="{{ url_for('static', filename='assets/icons/home.svg') }}">About Me</a></li>
                <li><a href='{{ url_for("home_pages.Projects") }}'><img src="{{ url_for('static', filename='assets/icons/home.svg') }}">Contact</a></li>
                <li><a href='{{ url_for("home_pages.Projects") }}'><img src="{{ url_for('static', filename='assets/icons/home.svg') }}">Settings</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}