{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
    <div class="top-bar">
        <div class="exit-buttons">xxx</div>
        <div class="app-title"></div>
    </div>
    <div class="side-bar">
        <div class="top-icons">
            <a title="Home" href='{{ url_for("home_pages.Projects") }}'>
                <img src="{{ url_for('static', filename='assets/icons/home.svg') }}">
            </a>
            <a title="Projects" href='{{ url_for("home_pages.Projects") }}'>
                <img src="{{ url_for('static', filename='assets/icons/files.svg') }}">
            </a>
            <a title="Search" href='{{ url_for("home_pages.Projects") }}'>
                <img src="{{ url_for('static', filename='assets/icons/search.svg') }}">
            </a>
            <a title="Curriculum" href='{{ url_for("home_pages.Projects") }}'>
                <img src="{{ url_for('static', filename='assets/icons/source-control.svg') }}">
            </a>
            <a title="Certificados" href='{{ url_for("home_pages.Projects") }}'>
                <img src="{{ url_for('static', filename='assets/icons/extensions.svg') }}">
            </a>
        </div>
        <div class="bottom-icons">
            <a class="bottom" title="About Me" href='{{ url_for("home_pages.Projects") }}'>
                <img src="{{ url_for('static', filename='assets/icons/account.svg') }}">
            </a>
            <a class="bottom" title="Settings" href='{{ url_for("home_pages.Projects") }}'>
                <img src="{{ url_for('static', filename='assets/icons/settings-gear.svg') }}">
            </a>
        </div>
    </div>
{% endblock %}