{% extends 'base.html' %}

{% block title %}Data base{% endblock %}

{% block body %}
    <h1 style="text-align: center">Data</h1>
    <br>
    <table style="border: 1px solid black; border-collapse: collapse; letter-spacing: 1px; margin-right: auto; margin-left: auto;">
        <caption> Database table</caption>
        <tr>
            <td style="background-color: blue; border: 1px solid black;">Id</td>
            <td style="background-color: blue; border: 1px solid black;">Job title</td>
            <td style="background-color: blue; border: 1px solid black;">First name</td>
            <td style="background-color: blue; border: 1px solid black;">Last name</td>
            <td style="background-color: blue; border: 1px solid black;">Employee code</td>
            <td style="background-color: blue; border: 1px solid black;">Region</td>
            <td style="background-color: blue; border: 1px solid black;">Phone number</td>
            <td style="background-color: blue; border: 1px solid black;">Email</td>
        </tr>
        {% for entry in data.query.all() %}
            <tr>
                <td style="background-color: gray; border: 1px solid black;">{{ entry.usr_id }}</td>
                <td style="border: 1px solid black;">{{ entry.job_title }}</td>
                <td style="border: 1px solid black;">{{ entry.fname }}</td>
                <td style="border: 1px solid black;">{{ entry.lname }}</td>
                <td style="border: 1px solid black;">{{ entry.empl_code }}</td>
                <td style="border: 1px solid black;">{{ entry.region }}</td>
                <td style="border: 1px solid black;">{{ entry.phone_num }}</td>
                <td style="border: 1px solid black;">{{ entry.email }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}