{% extends 'base.html' %}

{% block title %}Form{% endblock %}

{% block body %}
{% if error %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    This is an alert box.
</div> 
{% endif %}
<form action="{{ url_for('form') }}" method="post">
    <label for='form'>UserId</label><br>
    <input type="text" name="usr_id" /><br>
    <label for='form'>JobTitle</label><br>
    <input type="text" name="job_title" /><br>
    <label for='form'>FirstName</label><br>
    <input type="text" name="fname" /><br>
    <label for='form'>LastName</label><br>
    <input type="text" name="lname" /><br>
    <label for='form'>EmployeeCode</label><br>
    <input type="text" name="empl_code" /><br>
    <label for='form'>Region</label><br>
    <input type="text" name="region" /><br>
    <label for='form'>PhoneNumber</label><br>
    <input type="text" name="phone_num" /><br>
    <label for='form'>EmailAddress</label><br>
    <input type="text" name="email" /><br>
    <input type="submit" name="submit" />
</form>
{% endblock %}