body {
    margin: 0;
    background-image: url("../assets/dog_background.jpg");
    background-position: 397% 0%;
    background-size: 110% 230%;
}

.center {
    display: block;
    margin: auto;
    align-items: center;
}