@import "base.css";

body {
    background-color: rgb(33, 39, 47);
    margin: 0 100px 0 0;
    /* darker shade in explorer
        background-color: rgb(29, 34, 41);
    */
    /* light separater lines
        background-color: rgb(66, 76, 87);
    */
}

.side-bars {
    width: calc(100% - 2px);
    position: absolute;
    border-color: rgb(66, 76, 87);
    background-color: rgb(33, 39, 47);
    border-style: solid;
    border-width: 1px;
    z-index: 2;
}

.top-bar{
    display: inline-flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top-bar .exit-buttons{
    width: 5%;
}

.top-bar .app-title{
    width: 95%;
}

.left-bar{
    z-index: 1;
    width: 58px;
    height: 96%;
    margin-top: 1%;
    position: fixed;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.left-bar a img {
    height: 50px;
    width: 50px;
}

.left-bar .bottom-icons{
    position: absolute;
    bottom: 20px;
}

.bottom-bar {
    bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}