@import "base.css";

.nav-bar{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 100px;
    background-color: rgba(72, 83, 92, 0.35);
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding-right: 60px;
}