@import "base.css";

body {
    background-color: rgb(33, 39, 47);
    /* darker shade in explorer
        background-color: rgb(29, 34, 41);
    */
    /* light separater lines
        background-color: rgb(66, 76, 87);
    */
}

.side-bars {
    width: 100%;
    background-color: rgb(33, 39, 47);
    border-color: rgb(66, 76, 87);
    border-style: solid;
    border-width: 1px;
}

.top-bar{
    display: inline-flex;
}

.top-bar .exit-buttons{
    width: 5%;
}

.top-bar .app-title{
    width: 95%;
}

.left-bar{
    height: 96%;
    width: 58px;
    position: fixed;
    z-index: 1;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.left-bar a img {
    height: 50px;
    width: 50px;
}

.left-bar .bottom-icons{
    position: absolute;
    bottom: 20px;
}

.bottom-bar {
    z-index: 2;
    position: absolute;
    bottom: 0px;
}