{% extends 'main/frame.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="content">
        <div class="activity_bar"></div>
        <div class="editor">
            <div class="tabs">
                <div class="tab">
                    Welcome
                </div>
            </div>
            <div class="welcome_page">
                <div class="welcome_title">
                    <h1>Code - OSS</h1>
                    <h2>Editing Evolved</h2>
                </div>
                <div class="sections">
                    <ul>
                        <h3>Start</h3>
                        <li>New file</li>
                        <li>Open folder...</li>
                    </ul>
                    <ul>
                        <h3>Recent</h3>
                        <li>Flask</li>
                    </ul>
                    <ul>
                        <h3>Help</h3>
                        <li>Stack Overflow</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}